//
// Tables
// --------------------------------------------------



// STICKEY FOOTER
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -88px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 88px;
}

footer {
	margin-top: 48px;
	height: 24px; /* .push must be the same height as .footer */
}

.main.wrapper {
	margin-bottom: 3em;
}

.home-profile {
	margin-bottom: 4.063em;
	.arrow {
		margin: 20px 4px;
	}
	h2 {
		.font-size(35);
		font-weight: 600;
		line-height: 1;
		margin: 0.142em 0 0.714em 0;
	}
	p {
		.font-size(20);
		line-height: 1.4em;
		margin: 1.25em 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
		font-weight: 600;
	}
}



.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.alignright {
	float: right;
	margin: 0 1em 0 1em;
}


 //*********
// $SIDEBAR

.sidebar {
	h5 {
		margin-top: 0.25em;
	}
	img {
		max-width: 90%;
	}
}


 //*************
// $SOCIALMEDIA

.stalk-me {
	.font-size(32);
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	li {
		float: left;
		padding: 0;
		margin: 0 0.5em 0 0;
	}
	a {
		text-decoration: none;
		//font-weight: bold;
	}
	a.twitter:hover {
		color: #459DE0;
	}
	a.facebook:hover {
		color: #334A80;
	}
	a.posterous:hover {
		color: #EDCA6C;
	}
	a.flickr:hover {
		color: #DB2870;
	}
	a.stackoverflow:hover {
		color: #E16A2D;
	}
	a.github:hover {
		color: #000;
	}
	a.dribbble:hover {
		color: #ea4c89;
	}
}


 //*******************
// $DISQUS, $COMMENTS

#disqus_thread {
	background-color: white;
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	margin-top: 4em;
	img {
		border: none;
	}
}


 //****************
// $CONTACT_FORM_7

.wpcf7-form {
	input, select, textarea {
		margin-right: 10px;
	}
	.ajax-loader {
		border: none;
		margin: 11px;
	}
}

.wpcf7-response-output {
	.border-radius(3px);
	background-color: #FFF;
	padding: 5px;
	border: 2px solid;
	margin: 0 0 10px 0;
}

.wpcf7-display-none {
	display: none;
}

.wpcf7-mail-sent-ok {
	border-color: #398F14;
}

.wpcf7-validation-errors {
	border-color: red;
}

.wpcf7-not-valid-tip, .wpcf7-not-valid-tip-no-ajax {
	line-height: 29px;
}


 //**************
// $GET_PERSONAL

.get-personal {
	p {
		margin: 1em 0;
		text-align: center;
	}
	.get-professional-button {
		display: none;
	}
}

.get-personal-container {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	.transition(all 0.5s ease-in-out);
}

#get-personal:target, #get-personal.visible {
	.get-personal-container {
		max-height: 500px;
		opacity: 1;
	}
	.get-personal-button {
		display: none;
	}
	.get-professional-button {
		display: inline-block;
	}
}

// "i'm passionate about" is too long for the column
body.home h2 {
	.font-size(28);
}


 //**************
// $HIRE_ME_FORM

.hire-me-form {

	input, textarea {
		width: 100%;
		margin-bottom: 1.25em;
	}
	input[type="submit"] {
		.font-size(13);
		width: auto;
		float: right;
	}
	textarea {
		resize: none;
		height: 80px;
		.transition(height 0.3s 0.2s ease-in-out);
	}
	textarea:focus {
		height: 200px;
	}

}


@client-work-color: #FFCC00;
@pet-project-color: #66CC33;
@experiment-color: #0099FF;

.my-projects {
	.project {
		float: left;
		width: 300px;
		margin: 0 20px 20px 0;
		.transition(opacity 0.4s ease-in-out);
	}
	.project:nth-of-type(3n) {
		margin-right: 0;
	}
	.mini-browser {
		position: relative;
		/* mini-browser by Monsieur Didi -> http://dribbble.com/shots/430263-FREE-PSD-Mini-Browser */
		background: url('../images/mini-browser.png') no-repeat;
		width: 300px;
		height: 267px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		.border-radius(3px 3px 0 0);
		padding: 41px 0 0 0;
		margin: 0 0 5px 0;
		.address-bar {
			.font-size(12);
			position: absolute;
			height: 1.2em; // we're going to be setting overflow: hidden, set height to not cut off tails
			top: 15px;
			right: 17px;
			left: 70px;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	figure {
		overflow-y: scroll; // consider making this scroll, so the image can be scrolled up and down
		width: 298px;
		height: 224px;
		margin: 0;
	}
	img {
		border: 0;
	}
	&.highlight-client-work, &.highlight-pet-project, &.highlight-experiment {
		.project {
			.opacity(40);
		}
	}
	&.highlight-client-work .project.client-work {
		.opacity(100);
	}
	&.highlight-pet-project .project.pet-project {
		.opacity(100);
	}
	&.highlight-experiment .project.experiment {
		.opacity(100);
	}
}

.project-type {
	float: left;
	height: 8px;
	width: 8px;
	margin: 8px 8px 8px 2px;
	.border-radius(50%);
	.box-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
	background-color: red;
	&.client-work {
		background-color: @client-work-color;
	}
	&.pet-project {
		background-color: @pet-project-color;
	}
	&.experiment {
		background-color: @experiment-color;
	}
}

.project-type-legend {
	.font-size(14);
	margin: 0 0 0 0;
	position: absolute;
	right: 10px;
	top: 15px;
	list-style: none;
	cursor: default;
	li {
		float: left;
		padding: 0;
		margin: 0 0 0 20px;
	}
	.project-type {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}