//
// Tables
// --------------------------------------------------



// STICKEY FOOTER
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -88px; /* the bottom margin is the negative value of the footer's height */
}

.push {
	height: 88px;
}

footer {
	margin-top: 48px;
	height: 24px; /* .push must be the same height as .footer */
}

.main.wrapper {
	margin-bottom: 3em;
}

.home-profile {
	margin-bottom: 4.063em;
	.arrow {
		margin: 20px 4px;
	}
	h2 {
		.font-size(35);
		font-weight: 600;
		line-height: 1;
		margin: 0.142em 0 0.714em 0;
	}
	p {
		.font-size(20);
		line-height: 1.4em;
		margin: 1.25em 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
		font-weight: 600;
	}
}



.alignleft {
	float: left;
	margin: 0 1em 1em 0;
}

.alignright {
	float: right;
	margin: 0 1em 0 1em;
}


 //*********
// $SIDEBAR

.sidebar {
	h5 {
		margin-top: 0.25em;
	}
	img {
		max-width: 90%;
	}
}


 //*************
// $SOCIALMEDIA

.stalk-me {
	.font-size(32);
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	li {
		float: left;
		padding: 0;
		margin: 0 0.5em 0 0;
	}
	a {
		text-decoration: none;
		//font-weight: bold;
	}
	a.twitter:hover {
		color: #459DE0;
	}
	a.facebook:hover {
		color: #334A80;
	}
	a.posterous:hover {
		color: #EDCA6C;
	}
	a.flickr:hover {
		color: #DB2870;
	}
	a.stackoverflow:hover {
		color: #E16A2D;
	}
	a.github:hover {
		color: #000;
	}
	a.dribbble:hover {
		color: #ea4c89;
	}
}


 //*******************
// $DISQUS, $COMMENTS

#disqus_thread {
	background-color: white;
	padding: 1em;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	margin-top: 4em;
	img {
		border: none;
	}
}


 //****************
// $CONTACT_FORM_7

.wpcf7-response-output {
	.border-radius(3px);
	background-color: #FFF;
	padding: 5px;
	border: 2px solid;
	margin: 0 0 10px 0;
}

.wpcf7-display-none {
	display: none;
}

.wpcf7-mail-sent-ok {
	border-color: #398F14;
}

.wpcf7-validation-errors {
	border-color: red;
}