html, body {
	background-color: #dfdfdf;
	font-family: Omnes;
	color: #3F3F3F;
}

a {
	color: inherit;
}

p {
	margin: 0.937em 0;
}

img {
	border: 4px solid #404040;
}

hr {
	background-color: #9E9E9E;
	display: block;
	height: 5px;
	border: 0;
	outline: 0;
	.border-radius(2px);
}

.no-border {
	border-width: 0;
}

.background {
	min-height: 800px;
	width: 100%;
	border: 1px solid lightgray;
	display: relative;
	background: #dfdfdf /*url(https://dl.dropbox.com/u/813705/noise2.png) repeat*/;
}

.background:before {
	z-index: -1;
	content: " ";
	display: block;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	margin: -200px auto auto auto;
	width: 800px;
	height: 800px;
	background: #dfdfdf; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f7f7f7 0%, #dfdfdf 70%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 70%, color-stop(0%,#f7f7f7), color-stop(70%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f7f7f7 0%,#dfdfdf 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dfdfdf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */   
}

header {
	@padding-horizontal: 1.562em;
	@padding-vertical: 1.875em;
	font-weight: 500;
	line-height: 1;
	position: relative;
	margin: 1.562em 0;
	background-color: #3C3C3C;
	color: white;
	.border-radius(5px);
	.box-shadow(2px 2px 2px rgba(0, 0, 0, .2));
	.col {
		padding: @padding-vertical @padding-horizontal;
	}
	h1 {
		.font-size(28);
		float: left;
		height: 0.85em;
	}
	ul {
		.font-size(18);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		height: 1em;
		height: 0.8em; // 0.8 so the tails of ypjq letters don't bump height
		margin: auto @padding-horizontal;
		li {
			float: left;
			margin-left: 1em;
		}
		a {
			color: white;
			text-decoration: none;
			&:hover, &:active, &:focus {
				border-bottom: 2px solid white;
			}
		}
	}
}

footer {
	font-weight: 200;
	color: #666666;
}

.home-profile {
	margin: 6.25em 0;
	.arrow {
		margin: 20px 4px;
	}
	h2 {
		.font-size(35);
		font-weight: 600;
		margin: 0.142em 0 0.714em 0;
	}
	p {
		.font-size(20);
		line-height: 1.4em;
		margin: 1.25em 0;
	}
}