.clearfix,
.row {
  *zoom: 1;
}
.clearfix:before,
.row:before,
.clearfix:after,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.row:after {
  clear: both;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Gridpak Beta LESS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
.mixin-col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.mixin-span_first {
  margin-left: 0;
}
/* 1. 12 Column Grid 0px - Infinity 
	----------------------------------------------------------------------------- 
	
	Span 1:    8.33333333333%
	Span 2:    16.6666666667%
	Span 3:    25.0%
	Span 4:    33.3333333333%
	Span 5:    41.6666666667%
	Span 6:    50.0%
	Span 7:    58.3333333333%
	Span 8:    66.6666666667%
	Span 9:    75.0%
	Span 10:    83.3333333333%
	Span 11:    91.6666666667%
	Span 12:    100%
	
	----------------------------------------------------------------------------- */.col {
  margin-left: 0%;
  padding: 0 10px;
  border-color: white;
}
/* --- Gridpak variables ---*/.row .col:first-child,
header .col:first-child {
  margin-left: 0;
}
/*
	Add your semantic classnames in alongside their corresponding spans here. e.g.
	
	.span_3,
	.my_semantic_class_name {
		...
	}
	
	*/
.span_1 {
  width: 8.333333333333334%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_2 {
  width: 16.666666666666668%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_3 {
  width: 25%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_4 {
  width: 33.333333333333336%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_5 {
  width: 41.66666666666667%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_6 {
  width: 50%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_7 {
  width: 58.333333333333336%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_8 {
  width: 66.66666666666667%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_9 {
  width: 75%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_10 {
  width: 83.33333333333334%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_11 {
  width: 91.66666666666667%;
  border-left-width: 0;
  padding: 0 10px;
  margin-left: 0%;
}
.span_12 {
  margin-left: 0;
  width: 100%;
}
.wide {
  width: 960px;
  padding-right: 0;
  padding-left: 0;
}
.omnes-regular {
  font-family: "omnes-pro-1", "omnes-pro-2", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  word-spacing: 1px;
}
html,
body {
  font-family: "omnes-pro-1", "omnes-pro-2", Helvetica, Arial, sans-serif;
  font-weight: 500;
  background-color: #dfdfdf;
  color: #3F3F3F;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  line-height: 1;
  padding-top: 1.562em;
  margin-bottom: 4.063em;
  color: #FFF;
}
header .col {
  position: relative;
  background-color: #3C3C3C;
  padding: 1.875em 1.562em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
header h1 {
  font-size: 28px;
  font-size: 1.75rem;
  float: left;
  height: 1em;
  font-weight: 500;
  line-height: 0.8;
  margin: 0;
}
header h1 a {
  text-decoration: none;
}
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
  color: #d9d9d9;
}
header li {
  font-weight: 500;
  line-height: 1;
}
footer {
  font-weight: 300;
  color: #a6a6a6;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
footer:hover {
  color: #5a5a5a;
}
footer p {
  margin: 1.25em 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
}
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h2 {
  font-size: 30px;
  font-size: 1.875rem;
}
h3 {
  font-size: 26px;
  font-size: 1.625rem;
}
h4 {
  font-size: 22px;
  font-size: 1.375rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
h6 {
  font-size: 16px;
  font-size: 1rem;
}
a {
  color: inherit;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:hover,
a:focus,
a:active {
  color: #242424;
}
p {
  margin: 0 0 0.937em 0;
  line-height: 1.5;
}
article {
  margin-bottom: 1.5em;
}
dl {
  line-height: 1.5;
  margin: 0 0 1em 0;
}
dt {
  font-weight: 600;
}
dd {
  padding: 0 1.5em;
}
/*
abbr[title]:hover, dfn[title] {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
	cursor: help;
}

abbr {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	font-size: 0.875em;
	line-height: 90%;
	letter-spacing: 0.0357em;
	opacity: 0.9;
}
/*
em, i, cite {
	font-style: italic;
}
/*
*/
/*
small {
	.font-size(13);
	line-height: 1.2308;
	display: inline-block;
	opacity: 0.9;
}
*/
strong,
.strong,
b {
  font-weight: 600;
}
del,
s {
  line-height: 0.9;
  text-decoration: line-through;
}
var,
cite,
cite a,
samp {
  font: italic 300 1em/90% 'Magneta Book Italic', Georgia, 'Times New Roman', serif;
}
kbd {
  color: #666;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: monospace;
  line-height: 0.9em;
  margin: 0 0.25em;
  padding: 0.1429em 0.4286em;
  background-color: #FCFCFC;
  border: 1px solid #E6E6E6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}
sup {
  font-size: smaller;
  line-height: 0.9em;
  vertical-align: super;
}
mark,
ins {
  background-color: #FFF9DD;
  line-height: 90%;
  padding: 0 0.125em;
}
ins {
  background-color: #F0F0F0;
}
/* ^TABLE */
table {
  margin: 0 0 1em 0;
}
table,
td,
th {
  border: 1px solid #BDBDBD;
}
td,
th {
  padding: 0.5em;
  text-align: left;
}
th {
  font-weight: 600;
}
tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}
thead tr,
tbody tr:nth-of-type(even) {
  background-color: #f5f5f5;
}
caption {
  caption-side: bottom;
  color: #666;
  line-height: 1.5;
  margin: 0 0 1em 0;
}
/* ^FORMS */
/*
fieldset {
	border: 1px solid #C5C5C5;
	background-color: whiteSmoke;
	padding: 30px 20px;
	.box-shadow(inset 0 2px 3px 1px rgba(0, 0, 0, 0.07));
	.border-radius(10px);
}

fieldset fieldset {
	border: none;
	background-color: transparent;
	padding: 0;
	.box-shadow(none);
	.border-radius(0);
}

label {
	margin: 0.5em 0;
	float: left;
	clear: both;
}

input {
	.font-size(16);
	margin: 0.5em 0;
	float: left;
	clear: both;
	padding: 8px;
	border: 1px solid #ABABAB;
	border-radius: 3px;
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .1);
}
*/
input:focus {
  outline: none;
}
ul,
ol {
  margin: 0 0 1em 0;
}
ul ul,
ol ol {
  margin: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 0 0 0.5em 1.5em;
}
img {
  border: 4px solid #404040;
  /* Responsive images (ensure images don't scale beyond their parents) */

  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */

  width: auto\9;
  /* IE7-8 need help adjusting responsive images */

  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */

  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
hr {
  background-color: #B7B7B7;
  background-color: rgba(158, 158, 158, 0.4);
  display: block;
  height: 5px;
  border: 0;
  outline: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin: 0 0 2em 0;
}
pre {
  margin: 0 0 1em 0;
  border: 1px solid #A9A9A9;
  background-color: #D9D9D9;
  padding: 1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 18px;
  text-shadow: none;
}
blockquote {
  border-left: 5px solid #9E9E9E;
  padding-left: 1em;
  margin: 0 0 1em 0;
}
/* $NAV */
.nav {
  list-style: none;
  margin: 0;
}
.nav > li,
.nav > li > a {
  display: inline-block;
}
.site-nav {
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 1em;
  line-height: 0.8em;
  margin: auto 1.562em;
}
.site-nav li {
  float: left;
  margin: 0 0 0 1.5em;
}
.site-nav a {
  color: white;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:active,
.site-nav a:focus {
  border-bottom: 2px solid white;
}
/*
.background {
	min-height: 800px;
	width: 100%;
	border: 1px solid lightgray;
	display: relative;
	background: #dfdfdf // url(https://dl.dropbox.com/u/813705/noise2.png) repeat
}

.background:before {
	z-index: -1;
	content: " ";
	display: block;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	margin: -200px auto auto auto;
	width: 800px;
	height: 800px;
	background: #dfdfdf; // Old browsers
	background: -moz-radial-gradient(center, ellipse cover,  #f7f7f7 0%, #dfdfdf 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 70%, color-stop(0%,#f7f7f7), color-stop(70%,#dfdfdf));
	background: -webkit-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%);
	background: -o-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%); 
	background: -ms-radial-gradient(center, ellipse cover,  #f7f7f7 0%,#dfdfdf 70%);
	background: radial-gradient(ellipse at center,  #f7f7f7 0%,#dfdfdf 70%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dfdfdf',GradientType=1 );
}
*/.input_tiny {
  width: 50px;
}
.input_small {
  width: 100px;
}
.input_medium {
  width: 150px;
}
.input_large {
  width: 200px;
}
.input_xlarge {
  width: 250px;
}
.input_xxlarge {
  width: 300px;
}
.input_full {
  width: 100%;
}
.input_full_wrap {
  display: block;
  padding-right: 8px;
}
input[type="search"]::-webkit-search-decoration {
  display: none;
}
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  -o-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url('../images/_formalizeg?1298351022') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 16px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 0.5em 0.875em;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  text-decoration: none;
}
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
  background-image: -moz-linear-gradient(#dddddd, #eeeeee);
  background-image: -o-linear-gradient(#dddddd, #eeeeee);
  background-image: linear-gradient(#dddddd, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a.button {
  *padding-bottom: 3px;
}
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #C1C1C1;
  color: black;
  outline: 0;
  margin: 0.230769231em 0 0 0;
  padding: 0.461538462em 0.538461538em;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}
textarea,
select[size],
select[multiple] {
  height: auto;
}
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #000000));
    border: 0;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    min-height: 16px;
  }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border-color: #666666;
  }
}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.ie6_button,
* html button,
* html a.button {
  background: #dddddd url('../images/_formalize_button.png?1298351022') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  text-decoration: none;
  overflow: visible;
  vertical-align: top;
  width: auto;
}
* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}
* html select {
  margin-top: 1px;
}
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}
.ie6_input_disabled {
  background: #eeeeee;
}
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -88px;
  /* the bottom margin is the negative value of the footer's height */

}
.push {
  height: 88px;
}
footer {
  margin-top: 48px;
  height: 24px;
  /* .push must be the same height as .footer */

}
.main.wrapper {
  margin-bottom: 3em;
}
.home-profile {
  margin-bottom: 4.063em;
}
.home-profile .arrow {
  margin: 20px 4px;
}
.home-profile h2 {
  font-size: 35px;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1;
  margin: 0.142em 0 0.714em 0;
}
.home-profile p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4em;
  margin: 1.25em 0;
}
.home-profile p:last-child {
  margin-bottom: 0;
}
.home-profile a {
  text-decoration: none;
  font-weight: 600;
}
.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
.alignright {
  float: right;
  margin: 0 1em 0 1em;
}
.sidebar h5 {
  margin-top: 0.25em;
}
.sidebar img {
  max-width: 90%;
}
.stalk-me {
  font-size: 32px;
  font-size: 2rem;
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}
.stalk-me li {
  float: left;
  padding: 0;
  margin: 0 0.5em 0 0;
}
.stalk-me a {
  text-decoration: none;
}
.stalk-me a.twitter:hover {
  color: #459DE0;
}
.stalk-me a.facebook:hover {
  color: #334A80;
}
.stalk-me a.posterous:hover {
  color: #EDCA6C;
}
.stalk-me a.flickr:hover {
  color: #DB2870;
}
.stalk-me a.stackoverflow:hover {
  color: #E16A2D;
}
.stalk-me a.github:hover {
  color: #000;
}
.stalk-me a.dribbble:hover {
  color: #ea4c89;
}
#disqus_thread {
  background-color: white;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-top: 4em;
}
#disqus_thread img {
  border: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.no-border {
  border-width: 0;
}
